body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-mulish: Mulish;
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
  
    /* border radiuses */
    --br-8xs: 5px;
  }
  